.main-button{
    background-color: #6E4A21;
    width: 40%;
    height: 10%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 100%;
}

.main-button:hover{
    background-color: #a66f31;
}

@media only screen and (max-width: 600px){
    .main-button{
        width: 60%;
        height: 10%;
    }
}